.courses {
    padding-inline: 50px;
    /* display: flex; */
}
.courses div.header {
    display: flex;
    justify-content: space-between;
}
.courses div.headtext {
    max-width: 25rem;
    padding: 10px;
    align-items: center;
}

.headbtn {
    align-self: center;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}
.headbtn svg {
    margin-left: 1.2rem;
}

/* cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    flex-grow: 1;
    flex-basis: 200;
    max-width: 400px;
    height: auto;
    display: inline;
    border-radius: 12px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.141);
    padding: auto;
    margin-top: 30px;
}

.card div.bio-img {
    background-image: url(../images/Image-bio.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
}
.card div.chm-img {
    background-image: url(../images/Image-chem.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
}
.card div.mat-img {
    background-image: url(../images/Image-cal.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
}

.card div.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}
.card p {
    padding-inline: 20px;
}
.card div.rating{
    font-weight: 700;
    color: #FEA31B;
}

.card div.title button {
    padding: 15px 30px;
    background: #28C840;
    border-radius: 30px;
    border: none;
    color: #FFF;
    font-size: .9rem;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid transparent;
    transition: all 200ms;
}

.card div.title button:hover {
    opacity: .9;
    scale: 1.1;
    border: 2px solid transparent;
    color: #000000d4;
    transition: all 200ms;
}