header {
    width: 100%;
    height: 80px;
    background-color: #533625;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    /* position: static; */
}

div.logo {
    place-self: center;
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50%;
    width: 140px;
    background-position: 50%;
    margin-left: 30px;
}

nav.navigations {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    margin-inline: 50px;
}

nav ul {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
nav ul li a {
    color: white;
    text-transform: capitalize;
    transition: all 200ms;
}
nav ul li a:hover{
    transition: all 200ms;
    /* color: #000000d4; */
    /* border-bottom: white 2px solid; */
    /* scale: 2; */
}
nav button {
    width: auto;
    height: 50%;
    font-size: 15px;
    text-align: center;
    padding: 0 40px;
    border: none;
    background-color: #28C840;
    border-radius: 30px;
    font-weight: 700;
    color: white;
    border: 2px solid transparent;
    transition: all 300ms;
}
nav button:hover {
    scale: 1.1;
    opacity: .9;
    border: 2px solid transparent;
    color: #000000d4;
    transition: all 200ms;
}


/* underline animation for the nav bar  */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    }

    .hover-underline-animation::after {
    content: '';
    position: absolute;
    border-radius: 5px;
    width: 30%;
    transform: scaleX(0);
    height: 5px;
    bottom: -10px;
    left: 35%;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    }

    .hover-bolder {
        position: relative;
    }
    .hover-bolder:hover{
        text-shadow: 0 0.015em #fefefe,0 -0.015em #fefefe,0.01em 0 #fefefe,-0.01em 0 #fefefe;
    }