
.introduction {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    /* align-content: center; */
    align-items: center;
    margin-bottom: 100px;
}

.introducion section {
    height: fit-content;
    width: 50%;
}

section.images {
    /* border: black 1px solid; */
    background-image: url(/images/elipse.png);
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    background-position-x: -30px;
    height: 600px;
    width: 100%;
}
div.owl {
    background-image: url(/images/owl-full.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    /* position: static; */
}

section.articles {
    order: 1;
    /* background-color: rgba(137, 119, 119, 0.602); */
    max-width: 50%;
    text-align: left;
    text-wrap: wrap;
}
section.articles .content {
    padding: 0 10%;
    margin: 0;
    display: inline-block;
    /* line-height: 0px; */

}
section.articles h1 {
    color: #0d0d0d;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
}
section.articles h1 span{
    color: #28C840;
}

section.articles p {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}


.content .buttons {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 20px 0 30px 0;
}

.content .buttons button {
    padding: 15px 50px;
    background: #28C840;
    border-radius: 30px;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid transparent;
    transition: all 200ms;
    /* width: 100%; */
}
/* remember to make the buttons same size in block view use 50% for each */
.content .buttons .courses {
    color: #000;
    background: #84FFA5;
    border: 2px solid transparent;
}

.content .buttons button:hover {
    scale: 1.1;
    opacity: .9;
    border: 2px solid transparent;
    color: #000000d4;
    transition: all 200ms;
}

section.articles div.info {
    border: 6px solid #FBE068;
    border-radius: 14px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 151px;
    margin-block: 30px;
    flex-shrink: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

section.articles div.info h2, div.info div {
    /* width: 100%; */
    /* margin-left: 10%; */
    text-align: center;
    line-height: 10px;
}
section.articles div.info div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/* section.articles div.info div h3{
    margin-right: 30px;
} */
section.articles div.info h3 span {
    font-size: 56px;
}







@media screen and (max-width: 1000px) {
    section.images {
        display: none;
    }

    section.articles {
        max-width: 100%;
    }
}